django>=4.2,<5.0
whitenoise>=6.6
dj-database-url>=2.1
psycopg2-binary>=2.9
gunicorn>=21.2
pillow>=10.0
openpyxl>=3.1
weasyprint>=60.0
python-dotenv>=1.0
django-htmx>=1.17
scikit-learn>=1.4
numpy>=1.26
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
django-filter>=23.5
django-rest-passwordreset>=1.4
